/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: bisque;
  min-height: 80vh;
  border: 5px solid black;
  margin: 2px;
  padding: 2px;
}
.box {
  height: 150px;
  width: 150px;
  border: 2px solid brown;
  margin: 2px;
  padding: 2px;

  color: white;
  font-size: 25px;
}

#box1 {
  background-color: aqua;
  color: black;
}
#box2 {
  background-color: blue;
  /* order: 2; */
}
#box3 {
  background-color: orange;
  /* order: 1; */
}
#box4 {
  background-color: brown;
}

/* class code below */
.container {
  display: flex;
  /* flex-direction: row;
  justify-content: space-between;
  align-items: end; */
  /*
  justify-content: center;
  align-items: stretch; */
  /* flex-wrap: wrap; */
  /* align-content: start; */
  /*  align-content ONLY works with flex-wrap */
  /* gap: 50px; dono row and column ka gap*/
  /* column-gap: 300px; column ky darmiyan ka gap */
  /* row-gap: 100px; */
  /* justify-content: space-between; */
}
